{% extends 'base.html.twig' %}


{%  block title 'Tableau de bord' %}
{% block body %}

    <div class="div" style="margin-top: 100px">


        <div class="container" style="width: 95%; margin-top: 50px; border: solid 5px white; border-radius: 30px">

            <a href="{{ path('admin.new.artwork') }}" class="btn btn-secondary" style="width: 100%; margin-top: 20px; margin-left: auto; margin-right: auto">Ajouter une oeuvre</a>



            <div class="row" style="margin: auto">
                {% for artwork in artworks %}
                    <div class="col-6" >
                        <table style="margin-left: auto; margin-right: auto ">
                            {#                <table class="table table-bordered">#}
                            <tr>
                                <td>
                                    <img class="img-fluid img-thumbnail"  src="{{ vich_uploader_asset(artwork, 'imageFile')    }}"
                                         alt="card-img-top" style="width:200px; height:200px ; border: none" >
                                </td>
                                <td>
                                    <form  method="post" action="{{ path('admin.delete', {id: artwork.id}) }}">
                                        {#                                <a class="btn btn-danger" href="" style="text-align: center; vertical-align: center ; margin: 92px; color: white ">Supprimer</a>#}
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artwork.id) }}">
                                        <button class="btn btn-light"  style="text-align: center; vertical-align: center ; margin: 92px; color: red ">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                            {#                </table>#}
                        </table>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
    <div style="margin-top: 40px"></div>
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(artworks, null, {}, {
            'position': 'centered',
            'size': 'medium',
            'rounded': true,
        }) }}
    </div>

{% endblock %}

